@import "src/styles/_media_queries.scss";

.main {
  margin: 200px auto;
  position: relative;
  padding-left: 50px;
  padding-right: 220px;

  @include respond-width($m) {
    margin: 200px auto 0;
  }

  @include respond-width($s) {
    margin: 150px auto 0;
    padding-left: 0;
    padding-right: 0;
  }

  .wrapper {
    display: flex;
    gap: 60px;

    @include respond-width($m) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .colLeft {
      flex-grow: 1;
      max-width: 500px;

      @include respond-width($s) {
        width: 80vw;
        padding-right: 10vw;
      }

      .primaryImg {
        max-width: 430px;
        aspect-ratio: 1/1;
        position: relative;
        transform: rotate(2.5deg);
        margin-bottom: 40px;

        @include respond-width($m) {
          width: 50vw;
        }
        @include respond-width($s) {
          left: 7vw;
        }

        .tapeOrnament {
          position: absolute;
          bottom: -30px;
          right: -30px;
          width: 100px;
          height: 100px;
        }
      }

      .title {
        margin-bottom: 30px;
      }
    }

    .colRight {
      flex-grow: 1;
      min-width: max-content;
      display: flex;
      flex-direction: column;

      @include respond-width($m) {
        display: none;
        flex-direction: row;
      }

      @include respond-width($s) {
        flex-direction: column;
      }

      & > * {
        margin: 0 auto;
      }
    }
  }
}

.infoMediumDown {
  display: none;

  @include respond-width($m) {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 200px;
  }

  @include respond-width($s) {
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

.verticalFrame {
  min-width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;

  @include respond-width($m) {
    min-width: 50px;
    top: 300px;
    right: 90px;
  }

  @include respond-width($s) {
    min-width: 10px;
    top: 130px;
  }

  @include respond-width($xs) {
    min-width: 60px;
    top: 120px;
    right: 0;
  }

  & > h2 {
    position: absolute;
    top: 0;
    // transform: translateY(-50%);
  }
}
