@import 'src/styles/_media_queries.scss';

.main {
    height: 500px;
    margin: 200px auto;
    background-image: url('/pictures/testimonial-flower.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-align: center;
    position: relative;

    @include respond-width($s) {}

    &>* {
        max-width: 550px;
    }

    &>*:first-child {
        text-transform: uppercase;
    }

    .signature {
        position: relative;
        left: 15%;
        bottom: 20px;
        transform: rotate(-8deg);
        font-size: 40px;
    }


    @include respond-width($s) {
        padding: 0 10%;
        width: 100%;
        background-position: center, 110% 100%;
    }

}