@import "@/styles/theme/theme";

.main {
  position: relative;
  margin: 200px auto 80px;

  @include respond-width($s) {
    margin: 60px auto;
  }
}

.frame {
  height: 800px;
  max-height: 70vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 35px;
  overflow: visible;
  height: 100%;
  // *** combo
  width: fit-content;
  position: relative;
  bottom: 35px;

  @include respond-width($s) {
    gap: 20px;
    bottom: 20px;
  }
}

.row {
  overflow: visible;
  // *** combo
  width: fit-content;
  height: 40%;
  display: inline-flex;
  gap: 35px;

  @include respond-width($s) {
    gap: 20px;
  }
}

.arrow {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;

  @include respond-width($xl) {
    display: none;
  }
}

.arrow:hover {
  fill: $brown;
  cursor: pointer;
}
.arrow.disabled:hover {
  fill: inherit;
  cursor: pointer;
}

.leftArrow {
  right: calc(100% + 24px);
}

.rightArrow {
  left: calc(100% + 24px);
}
