.main {
    position: relative;
    display: block;
    width: 40px;
    aspect-ratio: 1/1;

    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
    }

    &>*:last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}