@import "@/styles/theme/theme";

.main {
  margin: 200px auto;

  @include respond-width($s) {
    margin: 60px auto;
  }
}

.postHighlightFrame {
  position: relative;
  height: fit-content;
}

.selected {
  transition: opacity 0.4s ease;
  position: relative;
  display: flex;
  visibility: visible;
  z-index: 1;
}

.notSelected {
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  visibility: hidden;
  z-index: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  display: inline-block;
  text-align: center;
  @include simpleTransition;

  &:hover {
    color: $brown;
  }

  @include respond-width($l) {
    margin-bottom: 50px;
  }
}

.header h5 {
  margin-bottom: 10px;
}
