@import "@/styles/theme/theme";

.main {
  margin: 200px auto;

  @include respond-width($s) {
    margin: 60px auto;
  }
}

.selected {
  opacity: 1;
  transition: opacity 0.4s ease;
  position: relative;
  height: 100%;
  display: flex;
}

.notSelected {
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  display: inline-block;
  text-align: center;
  @include simpleTransition;

  &:hover {
    color: $brown;
  }

  @include respond-width($l) {
    margin-bottom: 50px;
  }
}

.header h5 {
  margin-bottom: 10px;
}
