@import 'src/styles/theme/theme.scss';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 200px auto;

    @include respond-width($s) {
        margin: 150px auto;
    }
}

.imgFrame {
    position: relative;
    width: 100%;
    aspect-ratio: 1.62/1;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cap {
    max-width: 70%;
}